.Tabs{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.Tabs .Tab{
    background-color: #3d348b;
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
}
.Tabs .active{
    background-color: rgb(215 106 42 / 86%);
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 8px;
    width: 150px;
    text-align: center;
    font-size: 18px;
}